node_modules
build
npm-debug.log
.env
.DS_Store
.vscode
*/*.cvs
*/*.log
AvAuthFlightData/av-auth-flight-data/data/
FlightDataMW/flight-data-process/middleware.log
FlightDataMW/service-registry/middleware.log
FlightDataMW/flight-data-reception/middleware.log
~
